* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../images/bg.jpg');
}

.menu {
    width: 9%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.level_choosing {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_item {
    width: 70%;
    padding-top: 70%;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    transition: transform .3s;
}

.menu_item:hover {
    transform: scale(1.15);
}

.avatar {
    background-color: seagreen;
}

.announcement {
    background-color: sienna;
}

.ranking_list {
    background-color: slateblue;
}

.feedback {
    background-color: rosybrown;
}

.setting {
    background-color: deepskyblue;
}

.mapping {
    width: 1200px;
    height: 700px;
    background-color: firebrick;
}