*{
	margin:0;
	padding:0;
}
body {
    width: 90%;
    height: 100%;
    position: absolute;
    background: url('../images/bg2.jpg') no-repeat;
} 
.content {
    width: 640px;
    height: 640px;
    margin: 50px;
    position: absolute;
}

.btn {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.btn button {
    background: none;
    border: none;
    background-size: 100% 100%;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 20%;
    top: 50%;
}

.startBtn button {
    width: 200px;
    height: 150px;
    background-image: url('../images/btn2.gif');
    margin-left: 300px;
    margin-top: -75px;
}

.startBtn button:hover {
    width: 210px;
    height: 157.5px;
    margin-left: 295px;
    margin-top: -79px;
}

.pauseBtn {
    display: none;
}

.pauseBtn button {
    width: 70px;
    height: 70px;
    background-image: url('../images/pause.jpg');
    margin-left: 380px;
    margin-top: -20px;
}

#snakeWrap {
    position: absolute;
    margin-left: 5%;
    margin-top: -3%;
    width: 990px;
    height: 690px;
    background-color: rgb(252, 232, 238);
    border: 20px solid #F8BBD0;
}

.snakeHead {
    background-image: url('../images/snake.jpg');
    background-size: cover;
}

.snakeBody {
    background-color: #f486ac;
    border-radius: 50%;
}

.food {
    background: url('../images/food.jpg') no-repeat;
    background-size: 100% 100%;
}
 
.conscore{
	width:200px;
	height:200px;
	border-radius:50%;
	position:absolute;
	top:10%;
    left:84.2%;
    background-color: rgb(252, 232, 238);
    border: 10px solid #F8BBD0;
} 
.sname{
    font-size: 24px;
    color: rgb(255, 104, 187);
    margin-top:25%;
    margin-left:26%;
}
#scorer{
	position:absolute;
	margin-top:10%;
    margin-left:33%;
	font-size:38px;
}

.conpro{
	width:400px;
	height:250px;
	border-radius:0%;
	position:absolute;
	top:48%;
    left:78%;
    background-color: rgb(252, 232, 238);
    border: 10px solid #F8BBD0;
}

.pname{
    font-size: 28px;
    color: rgb(255, 104, 187);
    margin-top:5%;
    margin-left:42%;
}