*{
	margin:0;
	padding:0;
}
body {
    width: 90%;
    height: 100%;
    display: flex;
    background: url('../images/bg2.jpg') no-repeat;
} 
.content {
    margin-top: 70px;
    margin-left: 70px;
    width: 80%;
    height: 80%;
    display: flex;
}

.btn {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.btn button {
    background: none;
    border: none;
    background-size: 100% 100%;
    cursor: pointer;
    outline: none;
}

.startBtn button {
    width: 200px;
    height: 150px;
    background-image: url('../images/btn2.gif');
    margin-left: 340px;
    margin-top: 200px;
    display: flex;
}

.startBtn button:hover {
    width: 210px;
    height: 157.5px;
    margin-left: 335px;
    margin-top: 196px;
    display: flex;
}

.pauseBtn {
    display: none;
}

.pauseBtn button {
    width: 70px;
    height: 70px;
    background-image: url('../images/pause.png');
    margin-left: 460px;
    margin-top: 300px;
}

#snakeWrap {
    position: absolute;
    margin-left: 0%;
    margin-top: 0%;
    width: 858px;
    height: 572px;
    background-color: rgb(252, 232, 238);
    border: 20px solid #F8BBD0;
}

.snakeHead {
    background-image: url('../images/shead.png');
    background-size: cover;
}

.snakeBody {
    background-color: #83a9fa;
    border-radius: 50%;
}
 
.conscore{
	width:180px;
	height:180px;
	border-radius:50%;
    position:absolute;
	top:140px;
    left:1165px;
    background-color: rgb(252, 232, 238);
    border: 10px solid #F8BBD0;
} 
.sname{
    font-size: 24px;
    color: rgb(255, 104, 187);
    margin-top:25%;
    margin-left:24%;
}
#scorer{
    position:absolute;
	margin-top:10%;
    margin-left:30%;
	font-size:38px;
}

/*弹出层*/
#popBox1 {
    display: none;
    background-color: #c0dbfa;
    border: 10px solid #83a9fa;
    width: 400px;
    height: 280px;
    position:absolute;
    top:220px;
    left:310px;
    bottom:0;
}
#popBox2 {
    display: none;
    background-color: #c0dbfa;
    border: 10px solid #83a9fa;
    width: 400px;
    height: 280px;
    position:absolute;
    top:220px;
    left:310px;
    bottom:0;
}

.name2{
    font-size: 28px;
    color: #2465f1;
    margin-top:18%;
    margin-bottom: 15%;
    margin-left:22%;
}
.admBtn{
    width: 108%;
    display: flex;
}

.return button {
    width: 170px;
    height: 65px;
    background-image: url('../images/return.png');
}
.again button {
    width: 170px;
    height: 65px;
    background-image: url('../images/again.png');
}
.next button {
    width: 180px;
    height: 65px;
    background-image: url('../images/next.png');
}
.conpro{
	width:420px;
	height:250px;
	border-radius:0%;
    position:absolute;
	top:380px;
    left:1050px;
    background-color: rgb(252, 232, 238);
    border: 10px solid #F8BBD0;
    color: rgb(255, 104, 187);
}

.conpro p{
    margin-left:38%;
    margin-top: 5%;
    font-size:32px;
}
.conpro h2{
    margin-left:32%;
    margin-top: 6%;
    font-size:38px;
}
.conpro h3 {
    margin-left:13%;
    margin-top: 8%;
    font-size:34px;
}
.conpro span {
	margin-right: 50px;
}
.food_a,
.food_b,
.food_c {
    background-size: cover;
}
.food_a {
	background-image: url('../images/a.png');
}
.food_b {
	background-image: url('../images/b.png');
}
.food_c {
	background-image: url('../images/c.png');
}

.tips{
	width:220px;
	height:180px;
    position:absolute;
	top:40px;
    left:1150px;
    color: rgb(255, 104, 187);
} 