*{
	margin:0;
	padding:0;
}
body {
    width: 90%;
    height: 100%;
    position: absolute;
    display: flex;
    background: url('../images/bg2.jpg') no-repeat;
} 
.content {
    width: 990px;
    height: 690px;
    margin-top: 2.5%;
    margin-left: 5%;
    display: flex;
    position: absolute;
}

.btn {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.btn button {
    background: none;
    border: none;
    background-size: 100% 100%;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 20%;
    top: 50%;
}

.startBtn button {
    width: 200px;
    height: 150px;
    background-image: url('../images/btn2.gif');
    margin-left: 210px;
    margin-top: -50px;
}

.startBtn button:hover {
    width: 210px;
    height: 157.5px;
    margin-left: 205px;
    margin-top: -50px;
}

.pauseBtn {
    display: none;
}

.pauseBtn button {
    width: 70px;
    height: 70px;
    background-image: url('../images/pause.png');
    margin-left: 280px;
    margin-top: -20px;
}

#snakeWrap {
    position: absolute;
    margin-left: 0%;
    margin-top: 0%;
    width: 990px;
    height: 690px;
    background-color: rgb(252, 232, 238);
    border: 20px solid #F8BBD0;
}

.snakeHead {
    background-image: url('../images/snake.jpg');
    background-size: cover;
}

.snakeBody {
    background-color: #f486ac;
    border-radius: 50%;
}

.food {
    background: url('../images/food.jpg') no-repeat;
    background-size: 100% 100%;
}
 
.conscore{
	width:200px;
	height:200px;
	border-radius:50%;
    position:absolute;
	top:10%;
    left:84.2%;
    background-color: rgb(252, 232, 238);
    border: 10px solid #F8BBD0;
} 
.sname{
    font-size: 24px;
    color: rgb(255, 104, 187);
    margin-top:25%;
    margin-left:26%;
}
#scorer{
    position:absolute;
	margin-top:10%;
    margin-left:33%;
	font-size:38px;
}

.conpro{
	width:400px;
	height:250px;
	border-radius:0%;
    position:absolute;
	top:48%;
    left:78%;
    background-color: rgb(252, 232, 238);
    border: 10px solid #F8BBD0;
}

.pname{
    font-size: 28px;
    color: rgb(255, 104, 187);
    margin-top:5%;
    margin-left:42%;
}

#ptxt{
	margin-top:10%;
    margin-left:33%;
	font-size:38px;
}

/*弹出层*/
#popBox {
    display: none;
    background-color: #c0dbfa;
    border: 10px solid #83a9fa;
    z-index: 11;
    width: 400px;
    height: 280px;
    position:fixed;
    top:0;
    left:24%;
    bottom:0;
    margin:auto;
}

.name2{
    font-size: 28px;
    color: #2465f1;
    margin-top:18%;
    margin-bottom: 15%;
    margin-left:22%;
}
.admBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute; 
}

.return button {
    width: 170px;
    height: 65px;
    left:5%;
    background-image: url('../images/return.png');
}
.again button {
    width: 170px;
    height: 65px;
    left: 55%;
    background-image: url('../images/again.png');
}