.searchblank {
    display: flex;
    width: auto;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

/*  搜索框*/
#mysearch {
    background-image: url('../images/searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 30%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: 0;
}

.searchbtn {
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.searchbtn:hover {
    background-color: #ddd;
}


/* 表 */
#m-anm-table {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd;
    font-size: 18px; 
   
}

#m-anm-table th, #m-anm-table td {
    padding: 12px; 
    text-align: center;
}

/* 表头背景 */
#m-anm-table th {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 132, 255);
}

#m-anm-table tr {
    /* 表格添加边框 */
    border-bottom: 1px solid #ddd; 
}

#m-anm-table tr:hover {
    /* 表头及鼠标移动过 tr 时添加背景 */
    background-color: #f1f1f1;
}

.button{
    width: 50px;
    height: 30px;
    margin-left: 20px;
}

/* 弹框部分 */

/* 输入框 */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* 按钮*/
button {
    background-color: rgb(0, 132, 255);
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

.add-btn{
    margin-left: 10px;
    height:42px;
    margin: 0 0 0 20px;
    border-radius: 4px;
}

.delbtn {
    background-image: linear-gradient(rgb(247, 114, 114),rgb(192, 4, 4));
    border: none;
    width: 50px;
    margin-left: 10px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

/* 关闭 */
.closecontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.container {
    padding: 16px;
}

/* 弹框背景 */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* 弹框 */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* 关闭按钮(x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* 添加动画*/
.animate {
    -webkit-animation: animatezoom 1s;
    animation: animatezoom 1s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

