.search {
    display: flex;
    width: auto;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 12px;
}

#mysearch {
    background-image: url('../images/searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 30%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.searchbtn {
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.searchbtn:hover {
    background-color: #ddd;
}

#m-users-table {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd;
    font-size: 18px; 
   
}

#m-users-table th, #m-users-table td {
    text-align: left;
    padding: 12px; 
    text-align: center;
}

#m-users-table tr {
    /* 表格添加边框 */
    border-bottom: 1px solid #ddd; 
}

#mym-users-table tr.headers, #m-users-table tr:hover {
    /* 表头及鼠标移动过 tr 时添加背景 */
    background-color: #f1f1f1;
}

.button{
    width: 50px;
    height: 30px;
    margin-left: 20px;
}